@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<script src="/js/react/wordpress-reader/bundle-websocket.js"></script>
<script>
    window.addEventListener('DOMContentLoaded', () => {
        console.log('ReactWebsocket');

        const root = document.getElementById('root');
        const port = window.location.port;
        window.wp_wc.mountApp(root, port);
    });
</script>
<style>
    .blogpost-container1 {
        display: grid;
        grid-template-areas: "title author date" "wordCount wordCount wordCount";
        gap: 5px;
    }

    .blogpost-container {
        display: grid;
        grid-template-columns: auto 1fr;
    }

    .blogpost-title {
        font-weight: bold;
        font-size: large;
    }

    .blogpost-author-date {
        justify-content: end;
        display: flex;
    }

    .blogpost-wordCount {
        grid-column: 1 / span 3;
    }
</style>

<div id="root"></div>
<div id="rootHelper"></div>
